@page "/"

<PageTitle>Cocktail Bar</PageTitle>

<div class="header">
    <h1 class="justify-content-center">Welcome to the cocktail bar</h1>
</div>  

<div id="loggedIn" class="invisible">
    <div>
        <button class=".bg-dark border-radius text-white">Filter</button>
        <input type="text" placeholder="Search" class="border border-black"/>
    </div>
    <div class=".d-flex">
        <div>
            <h2 class="border border-black">Non Alcoholic</h2>
        </div>
        <div>
            <h2 class="border border-black">Alcoholic</h2>
        </div>
    </div>
</div>
    
<div id="notLoggedIn" class=".d-flex visible justify-content-center align-content-center">
    <div class=".d-flex justify-content-center align-content-center">
        <input class="border border-black" type="text" placeholder="enter username"/>
    </div>
    <div class=".d-flex justify-content-center align-content: center">
        <input class="border border-black" type="text" placeholder="enter username"/>
    </div>
</div>