@page "/list"
@rendermode InteractiveServer
@using CocktailDbSite.Application.Services
@using CocktailDbSite.Application.Services.WebpageServices
@using CocktailDbSite.Client.Components.ListComponents
@using CocktailDbSite.Domain.Identity
@using CocktailDbSite.Domain.Models.UserLists
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserListService UserListService
@inject CocktailDbService CocktailDbService
@inject ToastService ToastService

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLoginComponent />
    </NotAuthorized>
    <Authorized>
        <div class="row">
            <div class="col-12 border-bottom mb-4">
                <h1 class="display-4">Drink List</h1>
            </div>
            @if (_isLoaded)
            {
                <MainListComponent
                    UserId="@_currentUserId"/>
            }
        </div>
    </Authorized>
</AuthorizeView>

@code
{
    private string _currentUserId = string.Empty;
    private bool _isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        _currentUserId = string.Empty;

        if (user.Identity!.IsAuthenticated)
        {
            _currentUserId = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
        }

        _isLoaded = true;
    }
}
