@page "/weather"
@attribute [StreamRendering]
@using CocktailDbSite.Application.Services
@using CocktailDbSite.Domain.Models
@rendermode InteractiveServer
@inject TestTableService TestTableService

<PageTitle>Weather</PageTitle>

<div>
    <h1>Test Table Values</h1>
    @if(_testTables != null)
    {
        @foreach (TestTable table in _testTables)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@table.TestCol</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@table.Id</h6>
                </div>
            </div>
        }
    }
    <button class="btn btn-primary" @onclick="LoadTestTables">Load the test table</button>
</div>


@code {
    private List<TestTable> _testTables = new List<TestTable>();
    
    private async Task LoadTestTables()
    {
        _testTables = await TestTableService.GetAllTestTablesAsync();
    }
}